@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --swiper-pagination-bullet-horizontal-gap: 3px;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply font-quicksandSans text-primary-deepBlue;
  }
  .section-padding {
    @apply py-12 lg:py-28;
  }
  .hero-pedding {
    @apply pb-12 pt-[7.5rem] lg:pb-28 lg:pt-[11.5rem];
  }
  .custom-pagination {
    margin-top: -4px;
    top: 50% !important;
    transform: translateX(0) !important;
  }
  .custom-pagination .swiper-pagination-bullet {
    @apply h-3 w-3 bg-primary-purple;
  }
  .container-large {
    @apply m-auto px-4 lg:max-w-[84rem];
  }
  .container-small {
    @apply m-auto px-4 lg:max-w-[52.62rem];
  }
  .invert-colors {
    @apply invert dark:invert-0;
  }
  .title-h1 {
    @apply primary-text-gradient font-lora text-[2.5rem] font-bold leading-tight lg:text-[3.5rem];
  }
  .title-h2 {
    @apply font-lora text-[2rem] font-medium leading-tight md:text-[3rem];
  }
  .title-h3 {
    @apply font-lora text-[1.5rem] leading-tight md:text-[2rem];
  }
  .spacer-medium {
    @apply h-12 lg:h-20;
  }
  .spacer-small {
    @apply h-6 lg:h-10;
  }
  .menu-mobile {
    @apply invisible fixed right-0 top-[5rem] z-40 flex w-full translate-y-[-10px] flex-col items-end gap-6 rounded-lg bg-white px-5 py-8 opacity-0 transition-all duration-500 ease-in-out lg:static lg:min-h-0 lg:flex-row lg:items-center;
  }
  .menu-mobile.open {
    @apply visible translate-y-0 opacity-100;
  }
  .dropdown {
    @apply flex w-full flex-col gap-6 bg-white lg:invisible lg:absolute lg:left-0 lg:top-12 lg:translate-y-[-10px] lg:gap-0 lg:rounded-lg lg:p-4 lg:opacity-0 lg:shadow-xxlarge lg:transition-all lg:duration-500 lg:ease-in-out;
  }
  .dropdown.open {
    @apply visible translate-y-0 opacity-100;
  }

  .menu-desktop {
    @apply flex flex-grow gap-0 p-0 lg:visible lg:translate-y-0 lg:opacity-100;
  }
  .menu-link {
    @apply rounded-full px-3 py-2 text-2xl font-semibold leading-none text-inherit transition-colors hover:bg-primary-lightPurple hover:text-primary-purple lg:text-base;
  }
  .image-corner {
    @apply overflow-hidden rounded-xl md:rounded-3xl;
  }

  .primary-text-gradient {
    background: linear-gradient(129deg, #a88bcb 0%, #94c6e4 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-start {
    @apply flex items-center justify-start;
  }

  .no-focus {
    @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
  }

  .dark-gradient {
    background: linear-gradient(
      232deg,
      rgba(23, 28, 35, 0.41) 0%,
      rgba(19, 22, 28, 0.7) 100%
    );
  }
  .gradient-black-overlay {
    background: linear-gradient(180deg, #0f021f1a 0%, #0f021f 100%);
  }
  .gradient-white-overlay {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 50%
    );
  }
  .bg-sky {
    background-image: url("/images/section-hero/sky.avif");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg-sky-smaller {
    background-image: url("/images/section-our-mission/sky-smaller.avif");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .glass-overlay {
    @apply bg-light-transparent absolute left-0 top-0 z-10 h-full w-full;
  }
  .bg-light-transparent {
    background: rgba(54, 90, 117, 0.6);
  }
  .dark-overlay {
    @apply absolute left-0 top-0 z-10 h-full w-full bg-[rgba(15,2,31,0.4)];
  }

  .rich-text h1,
  .rich-text h2 {
    @apply mb-5 font-lora text-[2rem] leading-tight lg:text-[2.5rem];
  }
  .rich-text h3 {
    @apply mb-5 mt-6 font-lora text-[1.5rem] leading-tight md:text-[2rem];
  }
  .rich-text p {
    @apply mb-4;
  }
  .rich-text figure {
    @apply mt-8 lg:my-12;
  }
  .rich-text figure img {
    @apply overflow-hidden rounded-xl md:rounded-3xl;
  }
  .rich-text figcaption {
    @apply mt-2 border-l-2 border-primary-beige pl-1 italic;
  }
  .rich-text .rich-flex {
    @apply flex flex-col lg:flex-row lg:gap-4;
  }
  .rich-text .rich-col {
    @apply basis-full;
  }
  .rich-text .rich-col figure {
    @apply mt-4;
  }
  .form-label {
    @apply block text-base font-semibold leading-none text-primary-deepBlue;
  }
  .form-field {
    @apply w-full border-b-2 border-primary-lightBlue bg-transparent py-2 focus:border-primary-purple focus:outline-none;
  }
  .form-error-msg {
    @apply text-sm text-system-error;
  }
  .form-success-msg {
    @apply text-xl font-semibold text-system-success;
  }

  /* Event Page Hero */
  .event-caption {
    @apply text-lg md:text-4xl;
  }
  .event-time {
    @apply m-auto max-w-[250px] text-3xl font-bold sm:max-w-max md:text-4xl lg:text-6xl;
  }
  .event-location {
    @apply text-lg font-light md:text-2xl;
  }
  .event-location strong {
    @apply mb-2 block text-xl md:text-2xl lg:text-4xl;
  }

  /* Toast styles */
  .custom-toast {
    @apply rounded-lg text-primary-deepBlue shadow-xxlarge;
    --toastify-icon-color-info: #94c6e4;
    --toastify-color-progress-info: #94c6e4;
  }

  .sl-wrapper .sl-image {
    border-radius: 16px !important;
  }

  /* Custom styles for SimpleLightbox */
  .sl-custom-styles .sl-navigation button,
  .sl-custom-styles .sl-close {
    color: #a88bcb !important;
  }
  .sl-custom-styles .sl-caption {
    background-color: rgba(54, 90, 117, 0.9) !important;
    font-weight: 500;
  }
}
